* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --background-color: #f5f5DC;
    --title-text: #3d3d3d;
    --body-text: #738276;
    --hover-text: #A8c3bc;
  }

  body {
   color: var(--body-text);
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
   justify-content: flex-start;
  }
  
  /* Header Style*/

  header {
    padding: 20px 35px;
    margin: auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 200;
  }

  


/*NavBar*/

  header a {
    text-decoration: none;
    color: var(--title-text);
  }

  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 30px 25px;
    font-weight: lighter;
    font-size: 1.55vw;
    display: inline-block;
  }

  
  header nav ul li a:hover {
    background: var(--background-color);
    color: var(--hover-text);
    border-radius: 15px;
  }


  /*Hero*/

  .hero{
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

 #heroimg{
   height: 500px;
   background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
 }


 /*Info Banner Styling*/

 .content{
   display:flex;
   flex-wrap: wrap;
   justify-content:space-around;
   width: 100%;
   margin: 100px auto;
   flex-direction: row;
 }

.page-title{
   color: var(--title-text);
   padding: 50px 15px;
   margin: 100px auto;
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
 }

 .content h2{
   color: var(--title-text);
   flex-direction: column;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 20px auto;
 }

 .content p{
   color: var(--body-text);
   margin: 10px auto;
   text-align: center;
 }

 .work,
 .about,
 .contact{
   margin: 15px auto;
   flex: 1;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
 }

 #icon1,
 #icon2,
 #icon3{
  width: 20%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
 }

 .meat{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
 }

 /*Meat Stylings*/
 #my-work,
 #about-me,
 #contact-me{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
 }

 /*Explore My Work Stylings*/
 .contenttitle{
   color: var(--title-text);
   text-align: center;
   margin: 50px auto;
   display: flex;
   flex-wrap: wrap;

 }

 .sampleworks{
   display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 75px auto;
  display: flex;
  flex-wrap: wrap;
 }



#workexample{
  width: 75%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
}

 .row2{
   display: flex;
   flex-direction: row;
   flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-items:center;
  margin: 50px auto;
 }

 .row2photoB{
   width: 60% ;
   height: auto;
 }

 .row2photoA,
 .row2photoB{
   margin: 30px auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

 }

 .row4{
  width: 60% ;
  height: auto;
}

 /*About Me Stylings*/
 #myphoto{
  width:20%;
  height:auto;
  align-items: center;
  margin: 75px auto;
  display: flex;
  flex-wrap: wrap;
 }


 /*Contact Me Stylings*/
.LI-profile-badge {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 75px auto;
}

/*Media Query*/

/* Smaller Screens */
@media screen and (max-width: 980px) {
#heroimg{
  width: auto;
  height: auto;
}

}

/* Tablets */
@media screen and (max-width: 768px) {
  #heroimg{
    width: auto;
    height: auto;
  }
}

/* Mobile Phones */
@media screen and (max-width: 575px) {
  #heroimg{
    width: auto;
    height: auto;
  }

  .content{
    margin: 0px auto;
  }

}